HUB_URL=wss://grpc.hub.astrex.skyfly.hackclub.app/ws/node
NODE_ID=nebula-eu-01
AUTH_SECRET=secret123
PUBLIC_IP=127.0.0.1
XRAY_GRPC_URL=http://127.0.0.1:10085
HYSTERIA_API_URL=http://127.0.0.1:10086
HYSTERIA_AUTH_ADDR=127.0.0.1:8080
NAME_EN=Germany
NAME_RU=Германия
COUNTRY_FLAG=🇩🇪
XRAY_PORT=443
XRAY_SNI=www.yahoo.com
XRAY_PUBLIC_KEY=AW1VX2QqSTaHjqtnOR3j5SWStzqh5T3Ly7SjUzC_zU8
XRAY_SHORT_ID=18ab3ba173244769
HYSTERIA_PORT=443
HYSTERIA_SNI=fuckbook.pro
INBOUND_TAGS=vless-reality-in
RUST_LOG=info
