HUB_URL=wss://grpc.hub.astrex.skyfly.hackclub.app/ws/node
NODE_ID=nebula-eu-01
AUTH_SECRET=secret123
PUBLIC_IP=127.0.0.1
XRAY_GRPC_URL=http://127.0.0.1:10085
HYSTERIA_API_URL=http://127.0.0.1:10086
INBOUND_TAGS=vless-reality-in
RUST_LOG=info
